version: 2.1
orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  test:
    docker:
      - image: cimg/node:25.2.1
    steps:
      - cicd/runcloud:    
          api_key: SEDSTART_API_KEY_PROD      
          project_id: 18
          test_id: 74
          profile_id: 36
          browser: chrome
          headless: true
workflows:
  test-workflow:
    jobs:
      - test
